* {
    outline: none !important;
}

.hw {
    margin-top: 40px;
    min-height: 120px;
}

.hwTitle {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    padding-bottom: 70px;
    box-sizing: border-box;
}

hr {
    margin-top: 32px;
    margin-bottom: 0;
}

img {
    max-width: 100%;
}