.sendForm {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-column-gap: 44px;
    
}

.textarea {
    resize: none;
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    background: rgba(245, 247, 251, 1);
    font-size: 14px;
    padding: 8.5px 0 0 24px;
    border: none;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #0066CC;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}


.button:disabled, .button:disabled:hover {
    color: rgba(0, 0, 0, .26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, .12);
    cursor: not-allowed;
}


.button:hover {
    cursor: pointer;
    background-color: #003CFF;
}

.button:active {
    
}
