.container {
    max-width: 245px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.number {
    display: inline-block;
    min-width: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}